USE [master]
GO
/****** Object:  Database [LegaGestaoTorneiosDB]    Script Date: 05/06/2026 11:46:26 ******/
CREATE DATABASE [LegaGestaoTorneiosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LegaGestaoTorneiosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LegaGestaoTorneiosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LegaGestaoTorneiosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LegaGestaoTorneiosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LegaGestaoTorneiosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LegaGestaoTorneiosDB]
GO
/****** Object:  Table [dbo].[Equipas]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipas](
	[EquipaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Equipas] PRIMARY KEY CLUSTERED 
(
	[EquipaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GolsDoJogo]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GolsDoJogo](
	[GolId] [int] IDENTITY(1,1) NOT NULL,
	[JogoId] [int] NOT NULL,
	[JogadorId] [int] NULL,
 CONSTRAINT [PK_GolsDoJogo] PRIMARY KEY CLUSTERED 
(
	[GolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Icones]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icones](
	[IconeId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CaminhoAsset] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Icones] PRIMARY KEY CLUSTERED 
(
	[IconeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogadores]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogadores](
	[JogadorId] [int] IDENTITY(1,1) NOT NULL,
	[EquipaId] [int] NOT NULL,
	[TorneioId] [int] NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[NumeroCamisola] [int] NULL,
 CONSTRAINT [PK_Jogadores] PRIMARY KEY CLUSTERED 
(
	[JogadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogos]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogos](
	[JogoId] [int] IDENTITY(1,1) NOT NULL,
	[TorneioId] [int] NOT NULL,
	[Fase] [int] NOT NULL,
	[Slot] [int] NOT NULL,
	[EquipaA_Id] [int] NULL,
	[EquipaB_Id] [int] NULL,
	[GolosA] [int] NULL,
	[GolosB] [int] NULL,
	[PenaltisA] [int] NULL,
	[PenaltisB] [int] NULL,
	[VencedorId] [int] NULL,
	[JogoSeguinteId] [int] NULL,
	[Isento] [bit] NOT NULL,
 CONSTRAINT [PK_Jogos] PRIMARY KEY CLUSTERED 
(
	[JogoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneio_Equipas]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneio_Equipas](
	[TorneioId] [int] NOT NULL,
	[EquipaId] [int] NOT NULL,
	[StatusNaCompeticao] [varchar](50) NOT NULL,
	[PJ] [int] NOT NULL,
	[GM] [int] NOT NULL,
	[GS] [int] NOT NULL,
	[SG] [int] NOT NULL,
 CONSTRAINT [PK_Torneio_Equipas] PRIMARY KEY CLUSTERED 
(
	[TorneioId] ASC,
	[EquipaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneios]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneios](
	[TorneioId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[IconeId] [int] NULL,
	[EquipaCampeaId] [int] NULL,
	[Nome] [varchar](150) NOT NULL,
	[Descricao] [varchar](500) NULL,
	[Status] [varchar](50) NOT NULL,
	[Excluido] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
 CONSTRAINT [PK_Torneios] PRIMARY KEY CLUSTERED 
(
	[TorneioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/06/2026 11:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PalavraPasseHash] [varchar](255) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Email]    Script Date: 05/06/2026 11:46:27 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jogos] ADD  DEFAULT ((0)) FOR [Isento]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ('Ativa') FOR [StatusNaCompeticao]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [PJ]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [GM]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [GS]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [SG]
GO
ALTER TABLE [dbo].[Torneios] ADD  DEFAULT ('EmConstrucao') FOR [Status]
GO
ALTER TABLE [dbo].[Torneios] ADD  DEFAULT ((0)) FOR [Excluido]
GO
ALTER TABLE [dbo].[Torneios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Equipas]  WITH CHECK ADD  CONSTRAINT [FK_Equipas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Equipas] CHECK CONSTRAINT [FK_Equipas_Usuarios]
GO
ALTER TABLE [dbo].[GolsDoJogo]  WITH CHECK ADD  CONSTRAINT [FK_GolsDoJogo_Jogadores] FOREIGN KEY([JogadorId])
REFERENCES [dbo].[Jogadores] ([JogadorId])
GO
ALTER TABLE [dbo].[GolsDoJogo] CHECK CONSTRAINT [FK_GolsDoJogo_Jogadores]
GO
ALTER TABLE [dbo].[GolsDoJogo]  WITH CHECK ADD  CONSTRAINT [FK_GolsDoJogo_Jogos] FOREIGN KEY([JogoId])
REFERENCES [dbo].[Jogos] ([JogoId])
GO
ALTER TABLE [dbo].[GolsDoJogo] CHECK CONSTRAINT [FK_GolsDoJogo_Jogos]
GO
ALTER TABLE [dbo].[Jogadores]  WITH CHECK ADD  CONSTRAINT [FK_Jogadores_Equipas] FOREIGN KEY([EquipaId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogadores] CHECK CONSTRAINT [FK_Jogadores_Equipas]
GO
ALTER TABLE [dbo].[Jogadores]  WITH CHECK ADD  CONSTRAINT [FK_Jogadores_Torneios] FOREIGN KEY([TorneioId])
REFERENCES [dbo].[Torneios] ([TorneioId])
GO
ALTER TABLE [dbo].[Jogadores] CHECK CONSTRAINT [FK_Jogadores_Torneios]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [FK_Jogos_EquipaA] FOREIGN KEY([EquipaA_Id])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [FK_Jogos_EquipaA]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [FK_Jogos_EquipaB] FOREIGN KEY([EquipaB_Id])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [FK_Jogos_EquipaB]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [FK_Jogos_JogoSeguinte] FOREIGN KEY([JogoSeguinteId])
REFERENCES [dbo].[Jogos] ([JogoId])
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [FK_Jogos_JogoSeguinte]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [FK_Jogos_Torneios] FOREIGN KEY([TorneioId])
REFERENCES [dbo].[Torneios] ([TorneioId])
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [FK_Jogos_Torneios]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [FK_Jogos_Vencedor] FOREIGN KEY([VencedorId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [FK_Jogos_Vencedor]
GO
ALTER TABLE [dbo].[Torneio_Equipas]  WITH CHECK ADD  CONSTRAINT [FK_TorneioEquipas_Equipas] FOREIGN KEY([EquipaId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Torneio_Equipas] CHECK CONSTRAINT [FK_TorneioEquipas_Equipas]
GO
ALTER TABLE [dbo].[Torneio_Equipas]  WITH CHECK ADD  CONSTRAINT [FK_TorneioEquipas_Torneios] FOREIGN KEY([TorneioId])
REFERENCES [dbo].[Torneios] ([TorneioId])
GO
ALTER TABLE [dbo].[Torneio_Equipas] CHECK CONSTRAINT [FK_TorneioEquipas_Torneios]
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_EquipaCampea] FOREIGN KEY([EquipaCampeaId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Torneios] CHECK CONSTRAINT [FK_Torneios_EquipaCampea]
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_Icones] FOREIGN KEY([IconeId])
REFERENCES [dbo].[Icones] ([IconeId])
GO
ALTER TABLE [dbo].[Torneios] CHECK CONSTRAINT [FK_Torneios_Icones]
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Torneios] CHECK CONSTRAINT [FK_Torneios_Usuarios]
GO
USE [master]
GO
